.container {
  display: flex;
}

.container_3 {
  display: flex;
  flex-wrap: wrap;
  color: white;

}
 button {
   background-color: transparent;
   border-style: none;
 }
.container_3 div {
  width: 300px;
  margin: 10px;
}

#housing_button {
 margin-top: 130px;
}
#studentloan_button {
 margin-top: 90px;
 }

#vehicle_button {
  margin-top: 45px;
}

body {
  color: white;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

#profile_info {
  border: 1px #ffC433;
  font-weight: bold;
  border-radius: 10px;
  border-style: outset;
}
